<div class="fieldset">
	<h4>Basic Information</h4>
	
<div class="field">
	<div class="label">Employee Code</div>
	<div class="value"><%=@profile.employee_id%></div>
</div>	
<div class="field">
	<div class="label">Name</div>
	<div class="value"><%=@profile.first_name%> <%=@profile.last_name%></div>
</div>

<div class="field">
	<div class="label">Birth Date</div>
	<div class="value"><%=@profile.birth_date%></div>
</div>

	
<div class="field">
	<div class="label">Address</div>
	<div class="value"><%=@profile.address_1%>,<%=@profile.address_2%>,<%=@profile.landmark%></div>
</div>	

<div class="field">
	<div class="label">City</div>
	<div class="value"><%=@profile.city%>-<%=@profile.pincode%></div>
</div>

<div class="field">
	<div class="label">State</div>
	<div class="value"><%=@profile.state%></div>
</div>
<div class="field">
	<div class="label">Country</div>
	<div class="value"><%=@profile.country%></div>
</div>
	<h4>Contact Details</h4>
<div class="field">
	<div class="label">Phone number</div>
	<div class="value"><%=@profile.phone_number_1%></div>
</div>
<div class="field">
	<div class="label">Alternate contact no.</div>
	<div class="value"><%=@profile.phone_number_2%></div>
</div>
<div class="field">
	<div class="label">Email</div>
	<div class="value"><%=@profile.user.email%></div>
</div>
</div>
