- if @abstract_model && @plugin_name
  - content_for :title do
    #{@abstract_model.pretty_name} | Rails3
= render(:partial => 'layouts/rails_admin/head')
%body.rails_admin
  #container
    = render(:partial => 'layouts/rails_admin/header')
    #wrapper.wat-cf
      #main
        #content= yield
        #footer
          %p JAS Inc. Ltd | 2012
      = render :partial => "layouts/rails_admin/sidebar"
