<div class="block" id="block-tables">
	<div class='content'>
		<h2 class='title'>Sign up</h2>
		<div class="inner">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>
			<div class="field">
				<%= f.label :name%>
				<%= f.text_field :name, :class=>'string'%>
			</div>
			<div class='field'>
				<%= f.label :email %>
				<%= f.email_field :email, :class=>'string'  %>
			</div>
			<div class='field'>
				<%= f.label :password%>
				<%= f.password_field :password, :class=>'string'  %>
			</div>
			<div class='field'>
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation, :class=>'string'  %>
			</div>
			<div class="field">
			<%=f.label :birth_date%>
			<%=f.date_select :birth_date, :class=>'string', :start_year=>Time.now.year-100%>
			</div>
			<div class="field">
			<%=f.label :address%>
			<%=f.text_field :address, :class=>'string'%>
			</div>
			<div class="field">
			<%=f.label :phone_no%>
			<%=f.text_field :phone_no, :class=>'string'%>
			</div>
			
			<div class='field'>
				<%= f.submit "Sign up" ,:class=>'button'%>
			</div>
			
			<% end %>
			<div class='field'>
				<%= render :partial => "devise/shared/links" %>
			</div>
		</div>
	</div>
</div>
