-# FIXME: models with children doesn't look pretty.
-# Also perhaps there's a better place for the following setup code - a before_filter perhaps?

- models = RailsAdmin::Config.visible_models.select { |model| authorized?(:list, model.abstract_model) }
- root_models = models.select { |model| model.parent == :root }

%ul#nav.navigation
  %li{:class => ("active" if @page_type == "dashboard")}
    = link_to(t("admin.dashboard".upcase), rails_admin_dashboard_path)
  - root_models.each do |model|
    - children = [model] + models.select { |m| m.parent.to_s == model.abstract_model.model.to_s }
    
    - tab_titles = children.map { |child| child.abstract_model.pretty_name.downcase }
    %li{:class => "#{"active" if tab_titles.include? @page_type} #{"more" unless children.empty?}"}
      - if children.size == 1
        = link_to(model.label.pluralize.upcase, rails_admin_list_path(:model_name => model.abstract_model.to_param))
        = link_to(image_tag('/stylesheets/rails_admin/theme/activo/images/icons/24/add-hover.png'), rails_admin_new_path(:model_name => model.abstract_model.to_param), :style => 'margin:-30px 10px 0 0;padding:0;float:right',:alt => 'Add New', 'original-title'.to_sym => 'Add New')
      - else
        %a{:href => "#"}= model.dropdown ? t(model.dropdown, :default => model.dropdown) : model.label.pluralize
        %ul
          - children.each_with_index do |child, index|
            
            %li{:class => ("active" if @page_type == tab_titles[index])}
              
              = link_to(child.label.pluralize, rails_admin_list_path(:model_name => child.abstract_model.to_param))