  <div id='content' >
                    <div class='block' id='block-tables'>
                        <div class='content'>
                            <div class='inner' style="min-height:475px;" >
                                                               

<div class="secondary-navigation">
    <ul class="wat-cf">
        <li class="first">
            <a href="/reports/index">Overall sales by All salesman</a>
        </li>
        <li class="first active">
            <a href="/reports/salesman">Overall sales by Individual salesman</a>
        </li>

        <li class="first">
            <a href="/data/time">Requests Date Distribution</a>
        </li>
        <li class="first ">
            <a href="/data/ratio">Success / Failure Ratio</a>
        </li>
        <li class="first ">
            <a href="/data/trend">View Trend</a>

        </li>
    </ul>
</div>

<form id ="form" method="post" action = "/reports/index">
  <div class="control" style="margin:0px 10px; 0 0" >
	<a class="button" onclick="$j('#form').submit();" href="javascript:void(0);">Filter</a>
   </div>
    <p style="text-align:center">
        From Date : 
        <input type="text" value="<%= @start_date %>" size="30" name="from_date" id="from_date" class="string date">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To Date :
        <input type="text" value="<%=@end_date %>" size="30" name="to_date" id="to_date" class="string date">
    </p>
  
</form>
<script>
    $j(document).ready(function(){
        $j('.select').change(function(){
            $j('#form').submit();
        });
        
    });
</script>

<div class="clear10"></div>

<h2 class="title"><b><%=@message%></b></h2>

<table class="table grid">
					<tbody><tr>
						<th>Date</th>
						<th>Salesman Name</th>
						<th>Category</th>
						<th>Product</th>
						<th>Amount</th>
						<th>% of sales by Salesman</th>
					</tr>
					<% @sale_items.each do |s| %> 
					<tr>
						<td><%=s.sale_date.strftime("%b %d, %Y") %></td>
						<td><%=s.sales_user.name unless s.sales_user.nil? %></td>
						<td><%=s.product.category.name%></td>
						<td><%=s.product.name%></td>
						<td><%=s.product.price%></td>
						<td><%= sprintf("%0.2f", s.product.price.to_f / @sum * 100) + "%" %></td>
					</tr>
					<% end %>
				</tbody></table>



   </div>
                        </div>
                    </div>
                </div>
