  <div id='content' >
                    <div class='block' id='block-tables'>
                        <div class='content'>
                            <div class='inner' style="min-height:475px;" >
                                                               

<div class="secondary-navigation">
    <ul class="wat-cf">
        <li class="first">
            <a href="/reports/index">Overall sales by All salesman</a>
        </li>
        <li class="first active">
            <a href="/reports/salesman">Overall sales by Individual salesman</a>
        </li>
    </ul>
</div>

<form id ="form" method="post" action = "/reports/salesman">
<input type="hidden" value="" name="export" id="export" >
  <div class="control" style="margin:0px 10px; 0 0" >
	<a class="button" onclick="$j('#form').submit();" href="javascript:void(0);">Apply Filter</a>
	<a class="button" href="/reports/salesman">Clear All Filters</a>
   </div>
   
    <table class="flter" cellsapcing="5" cellpadding="5" >
    <tr>
    <td>
        From Date : 
        <input type="text" value="<%= @start_date %>" size="30" name="from_date" id="from_date" class="string date">
       </td>
       <td> 
        To Date :
        <input type="text" value="<%=@end_date %>" size="30" name="to_date" id="to_date" class="string date">
        </td>
        
</tr>
<tr>
<td>
        Category :
        <select name="category">
        <option value="">All</option>
        <%= options_for_select(Category.all.collect{|c| [c.name, c.id] },params[:category])  %> 
        </select>
</td>
<td>
        Product :
        <select name="product">
        <option value="">All</option>
        <%= options_for_select(Product.all.collect{|p| [p.name, p.id] },params[:product])  %> 
        </select>
</td>
</tr>
<tr>    
        <td>
        Area :
        <select name="area">
        <option value="">All</option>
        <%= options_for_select(SalesUser.find(:all, :group => :area, :order => :area).collect{|s| [s.area] }, params[:area])  %> 
        </select>
        </td>
        <td>
        District :
        <select name="district">
        <option value="">All</option>
        <%= options_for_select(SalesUser.find(:all, :group => :district, :order => :district).collect{|s| [s.district] },params[:district])  %> 
        </select>
        
        </td>

</tr>
<tr>    <td>
        City :
        <select name="city">
        <option value="">All</option>        
        <%= options_for_select(SalesUser.find(:all, :group => :city, :order => :city).collect{|s| [s.city] }, params[:city])  %> 
        </select>
        
        </td>
        <td>
        Sales Man :
        <select name="user">
        <option value="">All</option>        
        <%= options_for_select(SalesUser.find(:all, :group => :name, :order => :name).collect{|s| [s.name, s.id] }, params[:user])  %> 
        </select>
        
        </td>
    </p>
  
</form>
<script>
    $j(document).ready(function(){
        $j('.select').change(function(){
            $j('#form').submit();
        });
        
    });
</script>

<div class="clear10"></div>
<div class="clear10"></div>

<h2 class="title"><b><%=@message%></b></h2>

<table class="table grid">
					<tbody><tr>
						<th>Date</th>
						<th>Salesman Name</th>
						<th>Category</th>
						<th>Product</th>
						<th>Area</th>
						<th>District</th>
						<th>City</th>
						<th>Amount</th>
						<th>% of sales by Salesman</th>
					</tr>
					<% @sale_items.each do |s| %> 
					<tr>
						<td><%=s.created_at.strftime("%b %d, %Y") %></td>
						<td><%=s.user_name %></td>
						<td><%=s.category%></td>
						<td><%=s.product%></td>
						<td><%=s.area%></td>
						<td><%=s.district%></td>
						<td><%=s.city%></td>
						<td><%#=Product.find_by_name(s.product).price%></td>
						<td><%#= sprintf("%0.2f", Product.find_by_name(s.product).price.to_f / @sum * 100) + "%" %></td>
					</tr>
					<% end %>
				</tbody></table>

   <div class="control" style="margin:0px 10px; 0 0" >
	<a class="button" onclick="$j('#form').attr('action','/reports/index.xls');$j('#form').submit();" href="javascript:void(0)">Export to Excel</a>
   </div>

<div class="clear"></div>

   </div>
                        </div>
                    </div>
                </div>


<style>

select {
width:166px;
margin-right:8px;
}

table.flter {
width:600px;
margin-left:250px;
cell-padding:10px;
padding:10px;
}

table.flter tr td {

width:280px;

}

table.flter select,table.flter input { float:right;}

</style>                
